.honeymoon {
    padding: 103px 100px 120px 118px;
}

.honeymoon__title-wrapper {
    margin: 0 27px 0 0;
    display: flex;
    flex-direction: column;
}

.honeymoon__title {
    margin: 0 auto;
    font-weight: 800;
    font-size: 20px;
    font-family: 'Comfortaa';
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #03DAC4;
}

.honeymoon__subtitle {
    margin: 6px auto 62px;
    width: 587px;
    font-weight: 800;
    font-size: 32px;
    font-family: 'Comfortaa';
    line-height: 36px;
    text-align: center;
}

.honeymoon__appartments-video {
    display: grid;
    grid-template-columns: 588px 1fr;
    column-gap: 24px;
}

.honeymoon__video-desc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 66px 0 45px;
    column-gap: 1px;
    row-gap: 58px;
}

.honeymoon__video-inner {
    width: 588px;
}

.honeymoon__icon {
    display: inline;
    margin-right: 16px;
    height: 20px;
}

.honeymoon__info-title {
    display: inline;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Comfortaa';
    line-height: 30px;
    letter-spacing: 0.25px;
    margin-left: 10px;
}

.honeymoon__info-desc {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.6);
}