.menu {
    margin: 0 auto;
    padding: 0;
    background: #FAFAFA;
    box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
}

.menu__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.menu__logo {
    margin: 0 0 0 48px;
}

.menu__list {
    display: flex;
    margin-right: auto;
}

.menu__list-item + .menu__list-item {
    margin-left: 24px;
}

.menu__list-link {
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

.menu__socials {
    margin-right: 120px;
}

.socials__link {
    text-decoration: none;
}

.socials__link + .socials__link {
    margin-left: 22px;
}

.socials__link--grey {
    opacity: 0.4;
}