.reviews {
    margin: 0 auto;
    height: 640px;
}

.reviews__title {
    margin: 0 auto 80px;
    padding-top: 97px;
    width: 588px;
    font-weight: 800;
    font-size: 46px;
    font-family: 'Comfortaa';
    line-height: 69px;
    text-align: center;
}

.reviews__wrapper {
    display: flex;
    max-width: 1220px;
    max-height: 592px;
    margin: 0 auto;
    padding-left: 10px;
}

.review__item {
    width: 384px;
    display: flex;
    flex-direction: column;
}

.review__item:nth-child(n+2) {
    margin-left: 24px;
}

.review__image {
    margin: 0 auto 25px;
    height: 100px;
    width: 100px;
}

.review__title {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin: 0 0 15px;
    letter-spacing: -0.5px;
}

.review__decor {
    width: 200px;
    height: 0px;
    background-color: #3B00DD;;
    border: 3px solid #3B00DD;
    margin: 0 auto 38px;
}

.review__desc {
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 0.3px;
}