.rooms {
    margin: 0 auto;
    padding: 60px 120px 127px;
    background-color: #F5F5F5;
}

.rooms__title {
    text-align: start;
    margin-top: 0;
    margin-bottom: 70px;
    font-weight: 800;
    font-size: 32px;
    font-family: 'Comfortaa';
    line-height: 48px;
    letter-spacing: 0.25px;
}

.rooms__inner {
    display: flex;
}

.rooms__item:nth-child(n+2) {
    margin-left: 24px;
}

.rooms__img-wrapper {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 22px;
}

.rooms__img {
    height: 538px;
    width: 384px;
    box-shadow: 0 2px 3px grey;
}

.rooms__number {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    position: absolute;
}

.rooms__number-inner {
    font-size: 18px;
}

.rooms__item-title {
    font-size: 24px;
    font-family: 'Comfortaa';
    line-height: 36px;
    margin: 0 auto 15px;
    text-align: start;
}

.rooms__descr {
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.3px;
    height: 76px;
    width: 384px;
    margin: 0 auto 56px;
    color: rgba(0, 0, 0, 0.6);
}
.rooms__btn {
    display: block;
    height: 48px;
    width: 180px;
    background: #FFFFFF;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    position: relative;
}

.rooms__btn::after {
    content: "";
    position: absolute;
    height: 24px;
    width: 24px;
    bottom: 14px;
    background-image: url("../images/SVG/arrow-dark.svg");
}

.selected {
    background: #3B00DD;
    color: rgba(255, 255, 255, 0.87);
}

.rooms__btn.selected::after {
    background-image: url("../images/SVG/arrow.svg");
}