@import 'critical';
@import 'sections';

.honeymoon {
    padding: 120px 98px 120px 121px;
}

.honeymoon-title-wrapper {
    display: flex;
    flex-direction: column;
}

.honeymoon-title {
    margin: 0 auto 5px;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #03DAC4;
}

.honeymoon-subtitle {
    margin: 0 auto 41px;
    width: 587px;
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
}

.honeymoon-appartments-video {
    display: grid;
    grid-template-columns: 588px 1fr;
    column-gap: 24px;
}

.honeymoon-appartments-video-desc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 67px 0 63px;
    column-gap: 24px;
    row-gap: 80px;
}

.honeymoon-appartments-video-inner {
    width: 588px;
}

.honeymoon-icon {
    display: inline;
    margin-right: 16px;
    height: 20px;
}

.honeymoon-info-title {
    display: inline;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.25px;
}

.honeymoon-info-desc {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.6);
}

.section-events {
    margin: 0 auto;
    padding: 160px 120px;
    /* position: relative; */
    background-color: #F5F5F5;
}

.section-events-inner {
    position: relative;
    height: 641px;
}

.section-events-img {
    position: relative;
    left: 0;
    top: 0;
    width: 894px;
    height: 504px;
}

.section-events-number {
    position: absolute;
    top: 0;
    left: 894px;
}

.section-events-number-inner {
    margin-left: 24px;
    font-size: 23px;
    line-height: 35px;
}

.section-events-info {
    background: #03DAC4;
    position: absolute;
    left: 510px;
    bottom: 0;
    padding: 70px 102px 90px;
    width: 690px;
    height: 320px;
}

.section-events-info-title {
    margin: 0 auto 34px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.25px;
}

.section-events-info-desc {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
}

.section-events-info-btn {
    position: absolute;
    top: 504px;
    left: 306px;
    display: block;
    width: 204px;
    height: 97px;
    background: #0036CA;
    box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 3px;
}

.section-events-info-next {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.87);
    position: absolute;
    top: 43%;
    left: 27%;
}

.section-events-info-next::after {
    content: "";
    position: absolute;
    height: 24px;
    width: 24px;
    background-image: url("../images/SVG/arrow.svg");
    margin-left: 7px;
    margin-top: -5px;
}

.section-reviews {
    margin: 0 auto;
    height: 640px;
}

.section-reviews-title {
    margin: 0 auto 72px;
    padding-top: 107px;
    width: 588px;
    font-weight: 800;
    font-size: 46px;
    line-height: 69px;
    text-align: center;
}

.reviews-wrapper {
    display: flex;
    max-width: 1220px;
    max-height: 592px;
    margin: 0 auto;
}

.review-item {
    width: 384px;
    display: flex;
    flex-direction: column;
}

.review-item:nth-child(n+2) {
    margin-left: 24px;
}

.review-image {
    margin: 0 auto 25px;
    height: 100px;
    width: 100px;
}

.review-title {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin: 0 0 17px;
}

.review-decor {
    width: 200px;
    height: 0px;
    background-color: #3B00DD;;
    border: 5px solid #3B00DD;
    margin: 0 auto 35px;
}

.review-desc {
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
}

.section-costs {
    margin: 0 auto;
    height: 812px;
    background-image: url('../images/JPG/images_optimize/service_costs.jpg');
    position: relative;
    z-index: -2;
}

.costs-shade {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.costs-info {
    padding-top: 122px;
    padding-left: 120px;

}

.costs-info-title {
    margin-bottom: 19px;
    font-weight: 800;
    font-size: 56px;
    line-height: 84px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}

.costs-info-desc {
    margin-bottom: 44px;
    width: 415px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.25px;
    color: #FFFFFF;
}

.costs-service {
    padding: 61px 9px 44px 100px;
    position: absolute;
    width: 688px;
    height: 405px;
    background-color: #FFFFFF;
    bottom: 0;
    left: 632px;
}

.costs-service-title {
    margin: 0 auto 40px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
}

.cost-service-box-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 180px);
    grid-template-rows: repeat (2, 100px);
    column-gap: 24px;
    row-gap: 40px;
}

.cost-service-box {
    margin: 0;
}

.cost-service-box-title {
    margin: 0 auto 14px 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.25px;
}

.cost-service-box-desc {
    margin: 0 auto 8px 0;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.15px;
}

.cost-wrapper {
    background-color: #0000A0;
    width: 180px;
    height: 159px;
    padding: 37px;
    position: absolute;
    top: 320px;
    left: 1140px;
}

.cost-value {
    margin: 0;
    font-weight: 800;
    font-size: 56px;
    line-height: 84px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}

.section-contacts {
    margin: 0 auto;
}

.section-contacts-title {
    margin: 107px auto 68px;
    font-weight: 800;
    font-size: 46px;
    line-height: 69px;
    text-align: center;
}

.contacts-wrapper {
    width: 1200px;
    height: 492px;
    display: flex;
    margin: 0 auto 145px;
    justify-content: space-between;
}

.contact-form-wrapper {
    width: 50%;
    height: 100%;
    padding: 48px 98px 40px 102px;
}

.contacts-map {
    margin-left: 24px;
    width: 50%;
    height: 100%;
    box-shadow: 0 10px 25px rgb(138, 138, 138);
}

.contacts-form-title {
    display: inline;
    margin-right: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.25px;
}

.contacts-form-title-img {
    width: 20px;
    height: 16px;
}

.contacts-form-mailto {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

.contacts-form {
    margin: 41px 0 0;
}

.contacts-input-wrapper {
    height: 84px;
    width: 384px;
}

.contacts-form-label {
    display: block;
    background-color: #FFFFFF;
    border: 4px solid #FFFFFF;
    width: fit-content;
    margin-top: -68px;
    margin-left: 16px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.contacts-form-input {
    display: block;
    height: 56px;
    width: 384px;
    z-index: 0;
    border: 1px solid rgba(25, 25, 25, 0.32);
    box-sizing: border-box;
    border-radius: 4px;
}

.contacts-form-submit {
    display: block;
    margin-top: 33px;
    margin-left: auto;
    height: 48px;
    width: 180px;
    background: #3B00DD;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.contacts-map-inner {
    display: flex;
    justify-content: space-around;
}

.contacts-map-content {
    display: flex;
    margin: 41px 56px 37px 25px;
    width: 221px;
    height: 83px;
}

.contacts-map-logo {
    display: inline-block;
    height: 20px;
}

.contacts-map-content-desc {
    width: 200px;
    height: fit-content;
    margin-left: 24px;
}

.contacts-map-title {
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 5px;
}

.contacts-map-desc {
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.6);
}